<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Security>
            <version>1.0.0</version>
        </LCB_Security>
    </modules>
    <global>
        <blocks>
            <lcb_security>
                <class>LCB_Security_Block</class>
            </lcb_security>
        </blocks>
        <helpers>
            <lcb_security>
                <class>LCB_Security_Helper</class>
            </lcb_security>
        </helpers>
        <models>
            <lcb_security>
                <class>LCB_Security_Model</class>
                <resourceModel>lcb_security_resource</resourceModel>
            </lcb_security>
            <lcb_security_resource>
                <class>LCB_Security_Model_Resource</class>
                <entities>
                    <request_post>
                        <table>lcb_security_request_post</table>
                    </request_post>
                    <request_rule>
                        <table>lcb_security_request_rule</table>
                    </request_rule>
                </entities>
            </lcb_security_resource>
        </models>
        <resources>
            <lcb_security_setup>
                <setup>
                    <module>LCB_Security</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lcb_security_setup>
            <lcb_security_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lcb_security_read>
            <lcb_security_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lcb_security_write>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <lcb_security_post_request_limiter>
                        <class>lcb_security/observer</class>
                        <method>checkPostFlood</method>
                    </lcb_security_post_request_limiter>
                </observers>
            </controller_action_predispatch>
        </events>
        <translate>
            <modules>
                <LCB_Security>
                    <files>
                        <default>LCB_Security.csv</default>
                    </files>
                </LCB_Security>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <lcb_security>
                <use>admin</use>
                <args>
                    <module>LCB_Security</module>
                    <frontName>lcb_security</frontName>
                </args>
            </lcb_security>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <LCB_Security>
                    <files>
                        <default>LCB_Security.csv</default>
                    </files>
                </LCB_Security>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <lcb_security_delete_old_requests>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>lcb_security/cron::deleteOldRequests</model>
                </run>
            </lcb_security_delete_old_requests>
        </jobs>
    </crontab>
    <default>
        <lcb_security>
            <request_limit>
                <enabled>1</enabled>
            </request_limit>
        </lcb_security>
    </default>
</config>
